.noresize {
    resize: none;
}

body {
    background-image: url("../img/fondo.png");
}

h1 {
    display: inline-block;
    border-bottom: solid 3px #ffffff;
}

.indexImg {
    max-width: 100%;
}

.secciones {
    background-image: url("../img/mlg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#joinSearchChat {
    min-height: 330px;
    height: 20%;
    background-color: white;
    padding-top: 30px;
}

#joinSearchChat div {
    font-family: helvetica;
    font-size: 2vw;
    margin-left: 9%;
}

#joinSearchChat img {
    width: 200px;
    margin-top: 60px;
}

#meetings {
    min-height: 500px;
    color: #ffffff;
    background-color: #143b7e;
    padding-top: 30px;
}

#meetings p {
    display: inline-block;
    text-align: justify;
    margin-top: 50px;
    width: 500px;
}

#meetings img {
    display: inline-block;
    margin-left: 50px;
}

#title {
    padding: 10px;
    font-size: 5vw;
    font-family: 'Anton', sans-serif;
    color: #d66736;
    background-color: rgba(255, 255, 255, 0.65);
}

.access {
    background-image: url("../img/languages.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
    min-height: 700px;
}

.accessForm {
    background-color: rgba(255, 255, 255, 0.65);
    min-height: 300px;
}

#team {
    min-height: 500px;
    color: #ffffff;
    background-color: #d66736;
    padding-top: 30px;
    margin-top: 450px;
}

.team img {
    padding: 30px 40px 0 40px;
}

.team div {
    display: inline-block;
}

#contact {
    min-height: 500px;
    color: #ffffff;
    background-color: #143b7e;
    padding-top: 30px;
    margin-top: 450px;
}

.contact {
    padding-top: 30px;
}


/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
